.characterList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article{
    border: 1px solid grey;
    margin: 10px;
    padding: 5px;
}
.nombre{
    display: block;
}
.search-results{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}